body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  display: flexbox;
}

h1, h2, h3, p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 5px;
  margin: 5px;
}

nav {
  display: flex;
  background-color: aliceblue;
  text-align: center;
  justify-content: space-evenly;
  color: cadetblue;
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture:hover {
  filter: brightness(50%);
  cursor: pointer;
  transition: 1s;
}

.example-picture {
  width: 50rem;
  height: auto;
  border: 0.25rem solid black;
}

#mp0 {
  color: aliceblue;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

#mp1 {
  color: black;
  background-color: #eee555;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

a:hover {
  animation:alternate;
}

.fade-container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* margin-top: 30rem; */
  position: relative;
}

.fade-container .faded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* left: 0;
  right: 0;
  /* margin-left: auto;
  margin-right: auto; */
}

.fade-text {
  transition: all 1s ease-out;
  transform: translateY(0px);
}

.fade-in {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  color: beige;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

.fade-container:hover .fade-text {
  opacity: 1;
  transform: translateY(25px);
}
